.carousel-inner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  .carousel-item {
    min-height: 400px;

    .carousel-item img {
      object-fit: cover;
    }

    .carousel-caption h5 {
      font-weight: 600;
      text-transform: uppercase;

      .carousel-caption p {
        margin: 10px auto;
      }
    }
  }
}

.imgcarousel-1 {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.4)),
    url(/img/portada1.jpg);
}

.imgcarousel-2 {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.4)),
    url(/img/portada2.png);
}

.imgcarousel-3 {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.4)),
    url(/img/portada3.jpg);
}
