// Colores //

$colornavbar: #114d4d;
$colorbg1: #e0e4ce;
$colorbg2: #c0d1cd;
$colorfont1: white;
$colorfooter: #114d4d;
$colorbtn: #2d3839;

@mixin misioncard {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorfont1;
}
